/* .navhead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: em;
}
.myhead {
    font-size: 4rem;
}
.nav {
    justify-content: space-around;
    background-color: rgb(221, 183, 183);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* body {
    background: rgba(33,125,187,0.8);
 } */

a {
    text-decoration: none !important;
}

.navbar-nav {
    font-size: 1.2rem;
}

.nav-link {
    padding-right: 2.5rem !important;
    padding-left: 2.5rem !important;
    text-align: center;
}

.navbar-toggler {
    margin-left: auto;
    margin-right: auto;
}

/* .heading{
    padding: 28%;
    color: #fff;
} */
.heading h1{
    font-size: 4rem;
}

.heading h2 {
    font-size: 2rem;
}
#lead-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(33,125,187,0.8);
    z-index: 1;
}

.about h1 {
    position: relative;
    display: inline-block;
    font-size: 4rem;
    font-weight: 300;
}